*.env
*.rar
.DS_Store
Thumbs.db
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.lock
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
*.swp
*.bak
*.tmp
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
*.pem
*.key
*.crt
_cache/
__pycache__/
*.rar
*.tar.gz
*.zip
*Nova Pasta*/
*users.json
*system_state.json
*response.json
*conversation_history.json
requiem_init.json
Backup_PT2
*anotaçao.txt
*.txt
teste2
testadno
.vscode
Nova pasta